<% form_id = dom_id(@password, 'edit') -%>
<tr id="<%= dom_id @password %>">
  <td>
    <%= form_with(model: @password, id: form_id) do |form| %>
      <%= form.label :title %>
      <%= form.text_field :title %>
    <% end -%>
  </td>
  <td>
    <%= fields_for @password do |form| %>
      <%= form.label :username %>
      <%= form.text_field :username, form: form_id  %>
    <% end -%>
  </td>
  <td>
    <%= fields_for @password do |form| %>
      <%= form.label :password %>
      <%= form.text_field :password, form: form_id  %>
    <% end -%>
  </td>
  <td>
    <%= fields_for @password do |form| %>
      <%= form.label :comments %>
      <%= form.text_area :comments, form: form_id  %>
    <% end -%>
  </td>
  <td>
    <% if @password.new_record? -%>
      <%= submit_tag 'Create', form: form_id %>
      <%= link_to 'Cancel', '#', onclick: 'this.closest("tr").remove()' %>
    <% else -%>
      <%= submit_tag 'Update', form: form_id %>
      <%= link_to 'Cancel', password_path(@password), data: { turbo_stream: '' } %>
    <% end -%>
  </td>
</tr>

