<tr id="<%= dom_id password %>">
  <td><%= password.title %></td>

  <td><%= password.username %></td>

  <td><%= password.password %></td>

  <td><%= password.comments %></td>

  <td>
    <%= link_to "Edit", edit_password_path(password), data: { turbo_stream: '' } %>
    <%= button_to "Remove", password, method: :delete %>
  </td>
</tr>
