<div id="<%= dom_id password %>">
  <p>
    <strong>User:</strong>
    <%= password.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= password.title %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= password.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= password.password %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= password.comments %>
  </p>

</div>
