<p style="color: green"><%= notice %></p>

<h1>Passwords</h1>

<div>
  <div>
    <%= form_with url: filter_passwords_path, method: 'get' do |form| %>
      <%= form.label :title_filter, 'Filter passwords:' %>
      <%= form.text_field :title_filter, value: params[:title_filter] %>
      <%= form.submit 'Filter' %>
    <% end -%>

  </div>
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Username</th>
        <th>Password</th>
        <th>Comments</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="passwords-tbody">
      <% @passwords.each do |password| %>
        <%= render partial: 'password_row', locals: { password: password } %>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New password", new_password_path, data: { turbo_stream: '' } %>
