<!DOCTYPE html>
<html>
  <head>
    <title>PasswordManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
     <%= button_to 'Sign out', destroy_user_session_path, method: :delete,
       data: { turbo: false } if signed_in? %>
    <%= yield %>
  </body>
</html>
